/* ========================================================= Desktop ===*/
@font-face {
    font-family: 'bemio';
    src: url('/fonts/bemio/bemio-webfont.eot');
    src: url('/fonts/bemio/bemio-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/bemio/bemio-webfont.woff') format('woff'),
         url('/fonts/bemio/bemio-webfont.ttf') format('truetype'),
         url('/fonts/bemio/bemio-webfont.svg#bemioregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body, html{
  background-color: #ecf0f1;
}
header{
  padding: 80px 0 50px;
  text-align: center;
}
header img{
  margin-bottom: 10px;
}
header h1{
  color: #2c3e52;
  font-family: 'bemio';
  font-size: 72px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 0;
  text-transform: uppercase;
}
header p{
  color: #2c3e52;
  font-size: 22px;
  margin: 0;
}
.share{
  border-top: 1px solid #CCCCCC;
  display: inline-block;
  margin: 20px 0 0;
  padding: 10px 30px 0;
}
.intro{
  background-color: #fff;
  padding: 60px 0;
  text-align: center;
}
.intro h2{
  font-size: 48px;
}
.intro img{
  margin: 30px 0 0;
}
