/* ========================================================= Mobile ===*/
html,body{
  height: 100%;
  margin: 0;
  padding: 0;
}
/* ========================================================= Structure ===*/
#mobile{
  overflow: hidden;
  height: 100%;
}
#page{
  background-color: #ecf0f1;
  margin: 0;
  box-shadow: -1px 0 3px rgba(0,0,0,0.5);
  position: relative;
  left: 0;
  height: 100%;
  height: 100%;
  overflow-y: scroll;
  z-index: 99999;
}
/* ========================================================= Header ===*/
header{
  background: #3d3d3d;
  background: -moz-linear-gradient(top,  #3d3d3d 0%, #100e0e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3d3d3d), color-stop(100%,#100e0e));
  background: -webkit-linear-gradient(top,  #3d3d3d 0%,#100e0e 100%);
  background: -o-linear-gradient(top,  #3d3d3d 0%,#100e0e 100%);
  background: -ms-linear-gradient(top,  #3d3d3d 0%,#100e0e 100%);
  background: linear-gradient(to bottom,  #3d3d3d 0%,#100e0e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#100e0e',GradientType=0 );
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  height: 44px;
  margin: 0 0 15px;
  padding: 0 10px;
}
header h1{
  display: block;
  font-family: 'bemio';
  font-size: 27px;
  font-weight: 300;
  line-height: 1;
  margin: 0;
  padding: 10px 0 0;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0,0,0,0.7);
}
header h1 a, header h1 a:hover, header h1 a:active{
  color: #ecf0f1;
  text-decoration: none;
}
header h1 img{
  vertical-align: top;
}
header #menu-button{
  position: relative;
}
header #menu-button a {
  background: #535353;
  background: -moz-linear-gradient(top,  #535353 0%, #313131 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#535353), color-stop(100%,#313131));
  background: -webkit-linear-gradient(top,  #535353 0%,#313131 100%);
  background: -o-linear-gradient(top,  #535353 0%,#313131 100%);
  background: -ms-linear-gradient(top,  #535353 0%,#313131 100%);
  background: linear-gradient(to bottom,  #535353 0%,#313131 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#535353', endColorstr='#313131',GradientType=0 );
  border: 1px solid #1f1f1f;
  box-shadow: 0 1px 0 rgba(255,255,255,0.2) inset, 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 3px;
  font-size: 13px;
  padding: 6px 16px 1px;
  left: 0px;
  position: absolute;
  top: 6px;
}
header #menu-button a, header #menu-button a:hover{
  color: #ececec;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.7);
}
/* ========================================================= Menu Nav ===*/
nav{
  background: #393b3c;
  height: 100%;
  display: block;
  position: fixed;
  overflow-y: auto;
  width: 255px;
  left: 0px;
  top: 0px;
  z-index: 0;
}
nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li{
  border-bottom: 1px solid rgba(0,0,0,0.3);
  box-shadow: 0 1px 0 rgba(255,255,255,0.1);
  margin: 0;
  padding: 0;
}
nav strong{
  background-color: #66696b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(102, 105, 107)), to(rgb(73, 75, 77)));
  background-image: -webkit-linear-gradient(top, rgb(102, 105, 107), rgb(73, 75, 77));
  background-image: -moz-linear-gradient(top, rgb(102, 105, 107), rgb(73, 75, 77));
  background-image: -o-linear-gradient(top, rgb(102, 105, 107), rgb(73, 75, 77));
  background-image: -ms-linear-gradient(top, rgb(102, 105, 107), rgb(73, 75, 77));
  background-image: linear-gradient(top, rgb(102, 105, 107), rgb(73, 75, 77));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#66696b', EndColorStr='#494b4d');
  color: #eee;
  display: block;
  font-size: 13px;
  padding: 3px 10px;
  text-transform: uppercase;
}
nav a{
  color: #fff;
  font-size: 15px;
  display: block;
  padding: 7px 10px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}
nav a:hover{
  color: #fff;
  text-decoration: none;
}
nav img{
  border-radius: 2px;
  vertical-align: top;
}
/* ---------
-- Search --
--------- */
#search-form {
  margin-bottom: 0;
  padding: 7px;
}
#search-form .search-wrap{
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px solid rgba(255,255,255,0.3);
    padding: 0 34px 0 0;
}
#search-form .search-input{
    border: 1px solid #000;
    border-radius: 3px 0 0 3px;
    position: relative;
    width: 100%; height: 32px;
}
#search-form input[type="search"] {
    -webkit-appearance:none;
    border: 1px solid white;
    border-radius: 3px 0 0 3px;
    box-shadow: none;
    height: 14px;
    left: 0;
    line-height: 14px;
    margin: 0;
    padding: 8px 0 8px 8px;
    position: relative;
    width: 100%;
    z-index: 15;
}
#search-form input[type="submit"] {
    -webkit-appearance:none;
    background-color: #fff;
    color: #b9b9b9;
    border-color: #000;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    border-radius: 0 3px 3px 0;
    padding: 8px 0 7px;
    position: absolute;
    top: -1px; right: -35px;
    width: 34px; height: 34px;
    z-index: 10;
}
input::-webkit-input-placeholder{
    color: #b9b9b9 !important;
    font-style: italic;
}
input:-moz-placeholder{
    color: #b9b9b9 !important;
    font-style: italic;
}
/* ========================================================= MAIN ===*/
.intro{
  margin:5px;
  text-align: center;
}

/* ========================================================= Install to Home Screen ===*/
#install {
  background: #f7f7f7 url(../img/install.png) 50% 70% no-repeat;
  background-size: auto 50%;
  color: #444;
  height: 100%;
  position: absolute;
  overflow: hidden;
  pointer-events: none;
  text-shadow: 1px 1px 0 #FFF;
  width: 100%;
  z-index: 9999;
  -webkit-transition: opacity 0.1s linear;
  -moz-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}
#install .top {
  margin-top: 25px;
}
#install h1 {
  font-size: 25px;
  font-weight: normal;
  text-align: center;
}
#install h2 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  padding: 0 25px;
}
#install .chrome_instructions {
  display: none;
  position: absolute;
  bottom: 50px;
  width: 100%;
  padding: 0 15px;
  font-size: 17px;
  line-height: 1.3em;
  text-align: center;
}
body.mobile_chrome #install .chrome_instructions {
  display: block;
}
#install .instructions {
  position: absolute;
  bottom: 5px;
  width: 100%;
  font-size: 17px;
  line-height: 1.3em;
  text-align: center;
}
body.mobile_chrome #install .instructions {
  display: none;
}
#install .instructions .pictos {
  display: block;
  width: 100%;
}
body.landscape #install {
  background: #E9E9E9;
}
body.landscape #install .instructions .pictos {
  position: relative;
  left: -38px;
}
